$background: #e8e9ea;
$color: #737576;
$background-hover: #d6d9e2;
$color-hover: #414141;

.page{
    display: flex;
    min-height: 100%;
    height: 100%;
}
.left-menu{
    background-color: $background;
    color: $color;
    width: max-content;
    position: fixed;
    width: 19em;
    height: 100vh;
    ul{
        padding: 0em;
        width: 100%;
        li{
            width: 100%;
            padding: 1em 2em;
            cursor: pointer;
            list-style: none;
        }
        li:hover {
            background: $background-hover;
            color: $color-hover;
        }
    }
    .active{
        background: $background-hover;
        color: $color-hover;
        font-weight: 600;
    }
    .left-menu-logo{
        background-color: rgb(23, 23, 32);
        padding: 1em 2em;
        a{
            color: #fff;
            &:hover{
                color: rgb(213, 213, 213);
            }
        }
    }
}
.right-page{
    padding-left: 19em;
    width: 98vw;
    .page-right-block{
        display: none;
    }
    .openblock{
        display: block !important;
    }
}
.admin-cont{
    margin: 1em;
    width: 100%;
    .admin-header{
        display: flex;
        flex-direction: row;
    }
    .admin-table, table{
        width: 100%;
    }
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }