main{
    padding: 0;
}
.teacher-journal{
    .journal-header{
        display: flex;
        justify-content: space-between;
        background-color: #eee;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;
        .discipline{

        }
    }
}