main {
  padding: 0;
}

.teacher-journal .journal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.teacher-journal .journal-header .discipline {
  width: 100%;
  text-align: center;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.05em;
  transition: all 0.3s ease-in-out;
  border-radius: 0.2em;
  background-image: linear-gradient(135deg, none 0%, none 100%);
  -webkit-box-shadow: 0 0.6em 0.6em -0.2em none;
          box-shadow: 0 0.6em 0.6em -0.2em none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: #111;
  height: 2.5em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  cursor: default;
}
.teacher-journal .journal-body {
  margin-top: 2em;
}
.teacher-journal .journal-body table thead {
  border-bottom: 1px solid #2c2c2c;
}
.teacher-journal .journal-body table .jornal-table-th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.teacher-journal .journal-body table .jornal-table-th button {
  background: none;
  border: none;
}
.teacher-journal .journal-body table .journal-table-td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.teacher-journal .journal-body table .journal-table-td input {
  border: none;
  border-bottom: rgba(139, 206, 255, 0.67) solid 1px;
  width: 7em;
  text-align: center;
  margin: 0.5em 1em;
}