@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
$font-family: 'Roboto', sans-serif;
$header-color: rgb(23, 23, 32);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Prompt:wght@700&family=Roboto:wght@100&display=swap');
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $font-family;
  color: rgb(44, 44, 44);
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  // text-decoration-skip-ink: auto;

}
a{
  color: inherit;
  text-decoration: none !important;
  &:hover{
    color: inherit;
  }
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
//



.header-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.logo-text{
  font-size: 1em;
  font-weight: 100;
  letter-spacing: .5em;
  color: white;
  text-decoration: none;
}
.logo-text:hover{
  color: rgb(220, 220, 220);
}



.wrapper{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 6vh;
}
.container{
    padding: 0 2%;
}
header{
    width: 100%;
    height: 11vh;
    background: rgb(23, 23, 32);
    color: white;
}
footer{
  background: rgb(218, 218, 218);
  width: 100%;
  height: 6vh;
  color: rgb(113, 113, 113);
}
main{
    padding: 3vh 0;
}
section, header, footer {
    padding: 0 15px;
  }

  @mixin createButton($width, $height, $radius, $gradientFirst, $gradientThird,
   $shadowColor, $textColor, $font-size)
  {
    border-radius: $radius;
    background-image: linear-gradient( 135deg, $gradientFirst 0%, $gradientThird 100%);
    box-shadow: 0 .5em .6em -.5em $shadowColor;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: $font-size;
    color: $textColor;
    height: $height;
    width: $width;
  }
  

  .button-color{
    transition: all .3s ease-in-out;
    margin: .3em .1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1em .3em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2em;
    &:nth-child(2n+1){
      @include createButton(30%, 2.5em, .3em,#E2B0FF,#9F44D3, rgba(171,88,219,0.5), #fff, 3.5em);
    }
    &:nth-child(3n+1){
      @include createButton(30%, 2.5em, .3em,#73baec,#0396FF, rgba(30,161,255,0.5), #fff, 3.5em);
    }
    &:nth-child(2n){
      @include createButton(30%, 2.5em, .3em,#81FBB8,#28C76F, rgba(60,211,128,0.5), #fff, 3.5em);
    }
    &:nth-child(5n){
      @include createButton(30%, 2.5em, .3em,#FEB692,#EA5455, rgba(238,103,97,0.5), #fff, 3.5em);
    }
    &:hover{
      transform:translatey(10px);
      box-shadow: none;
    }
    &:active{
      opacity: 0.5;
    }
  }
  .button{
    padding: .3em .6em;
    transition: all .3s ease-in-out;
    color: #ffffff;
    margin: .3em;
    font-weight: 600;
        @include createButton(10em, 2.2em, .2em,#4889d8,#4889d8, #4889d8b4, #ffffff, 1.4em);
      
      &:hover{
        transform:translatey(1px);
        box-shadow: none;
        -webkit-transform:translatey(1px);
        -moz-transform:translatey(1px);
        -ms-transform:translatey(1px);
        -o-transform:translatey(1px);
      }
      &:active{
        opacity: 0.5;
      }
  }
  
  .button-log{
    padding: .3em .6em;
    transition: all .3s ease-in-out;
        @include createButton(4.5em, 2.5em, 2px,#f5f5f575,#ffffff, rgba(228, 228, 228, 0.285), #4c4c4c, .9em);
      
      &:hover{
        transform:translatey(1px);
        box-shadow: none;
        -webkit-transform:translatey(1px);
        -moz-transform:translatey(1px);
        -ms-transform:translatey(1px);
        -o-transform:translatey(1px);
      }
      &:active{
        opacity: 0.5;
      }
  }
  
  @media (min-width: 575.98px){
    section, header, footer {
      padding: 0 calc(50vw - 270px);
    }
    body{
    }
  }
  
  @media (min-width: 767.98px){
    section, header, footer {
      padding: 0 calc(50vw - 360px);
    }
    body{
    }
  }
  
  @media (min-width: 991.98px) {
    section, header, footer {
      padding: 0 calc(50vw - 480px);
    }
    body{
    }
  }
  @media (min-width: 1199.98px){
    section, header, footer {
      padding: 0 calc(50vw - 610px);
    }
    body{
    }
  }
  @media (min-width: 1499.98px){
    section, header, footer {
      padding: 0 calc(50vw - 700px);
    }
    body{
    }
  }
  @media (min-width: 1899.98px){
    section, header, footer {
      padding: 0 calc(50vw - 890px);
    }
    body{
      font-size: 18px;
    }
  }
  @media (min-width: 2199.98px){
    section, header, footer {
      padding: 0 calc(50vw - 1100px);
    }
    body{
      font-size: 28px;
    }
  }
  @media (min-width: 2399.98px){
    section, header, footer {
      padding: 0 calc(50vw - 1200px);
    }
    body{
      font-size: 30px;
    }
  }
  @media (min-width: 2699.98px){
    section, header, footer {
      padding: 0 calc(50vw - 1700px);
    }
    body{
      font-size: 34px;
    }
  }
  @media (min-width: 2999.98px){
    section, header, footer {
      padding: 0 calc(50vw - 1900px);
    }
    body{
      font-size: 36px;
    }
  }
  @media (min-width: 3199.98px){
    section, header, footer {
      padding: 0 calc(50vw - 1800px);
    }
    body{
      font-size: 47px;
    }
  }
  @media (min-width: 3499.98px){
    section, header, footer {
      padding: 0 calc(50vw - 1900px);
    }
    body{
      font-size: 55px;
    }
  }
  @media (min-width: 4099.98px){
    section, header, footer {
      padding: 0 calc(50vw - 2300px);
    }
    body{
      font-size: 60px;
    }
  }

  .table-icon{
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
    &:hover{
      opacity: 80%;
    }
  }