
@mixin createButton($width, $height, $radius, $gradientFirst, $gradientThird,
$shadowColor, $textColor, $font-size)
{
 border-radius: $radius;
 background-image: linear-gradient( 135deg, $gradientFirst 0%, $gradientThird 100%);
 box-shadow: 0 .6em .6em -.2em $shadowColor;
 outline: none;
 border: none;
 cursor: pointer;
 font-size: $font-size;
 color: $textColor;
 height: $height;
 width: $width;
}
  
 .discipline-block{
     width: 100%;
     transition: .3s ease;
     border-radius: 1em;
     height: 100%;
     -webkit-border-radius: 1em;
     -moz-border-radius: 1em;
     -ms-border-radius: 1em;
     -o-border-radius: 1em;
     -webkit-transition: .3s ease;
     -moz-transition: .3s ease;
     -ms-transition: .3s ease;
     -o-transition: .3s ease;
     color: white;
     cursor: pointer;
     padding: 2em;
     &:nth-child(2n+1){
       background: #3B76EF;
    }
    &:nth-child(2n){
        background: #63C7FF;
    }
    &:nth-child(2n+3){
        background: #6DD4B1;
    }
    &:nth-child(4n+4){
        background: #A66DD4;
    }
    &:hover{
        background-color: #3B76EF;
        background-image: url(../img/diamond.png);
      color: white;

    }
    .content{
        .title{
            font-weight: 600;
            font-size: 8vh;
            line-height: 1.1em;
        }
    }
 }
  .teacher-header{
        display: flex;
        align-items: flex-end;
        color: rgb(71, 71, 71);
        button{
            background: none;
            border: none;
        }
    }
    .settings{
        cursor: pointer;
        margin: 0 1.3em;
        &:hover{
            opacity: 80%;
        }
    }
    .teacher-disciplines{
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(15vh, auto);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        margin-top: 1em;
    }


    
  @media (min-width: 275.98px){
    .teacher-disciplines{
        justify-content: space-between;
        display: grid;
        grid-template-columns:  1fr;
        grid-auto-rows: minmax(15vh, auto);
    }
  }
  @media (min-width: 767.98px){
    .teacher-disciplines{
        justify-content: space-between;
        display: grid;
        grid-template-columns:   1fr 1fr;
        grid-auto-rows: minmax(15vh, auto);
    }
  }
  @media (min-width: 991.98px) {
    .teacher-disciplines{
        justify-content: space-between;
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        grid-auto-rows: minmax(15vh, auto);
    }
  }
  @media (min-width: 1199.98px){
    .teacher-disciplines{
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr  1fr 1fr 1fr;
        grid-auto-rows: minmax(15vh, auto);
    }
  }
  @media (min-width: 1499.98px){
    .teacher-disciplines{
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr  1fr 1fr 1fr;
        grid-auto-rows: minmax(15vh, auto);
    }
  }


  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    transition: 1s ease all;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    -ms-transition: 1s ease all;
    -o-transition: 1s ease all;
    .modal-content{
        background-color: #fefefe;
        margin:  auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        height: max-content;
      }
      
      /* The Close Button */
      .close {
        color: #aaa;
        float: right;
        font-size: 1.5em;
        font-weight: bold;
        align-self: flex-end;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

  }

  .modal-content{
      width: max-content;
  }
.modal-header{
    display: flex;
    justify-content: space-between;
}

  .modal-body{
      form{
        width: 100%;
      }
    $primary: #3d86c6;
$secondary: #95bfe4;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $gray;
  outline: 0;
  font-size: 1rem;
  color: #565656;
  padding: 5px 0;
  background: transparent;
  transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
&::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.1rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:500;    
  }
  padding-bottom: 6px;  
  border-width: 2px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
  }

  


.save-btn{
  width: 100%;
  text-align: center;
  font-weight: 400;
  display: flex;
  padding:0 1em ;
  margin-top: 1em;
  align-items: center;
  justify-content: center;
  letter-spacing: .05em;
  transition: all .3s ease-in-out;
  @include createButton(100%, 2.5em, .2em, #56ace9,#0396FF, rgba(30,161,255,0.5), #fff, 1em);

}
