<header>
    <div class="header-cont">
        <div class="logo">
            Digital Department
        </div>
    </div>
</header>
<style>
    .header-cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .logo{
        font-size: 2em;
        font-weight: 100;
        letter-spacing: .5em;
    }
</style>