<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/mainStyle.css">
    <link rel="stylesheet" href="../style/adminStyle.css">
    <link rel="stylesheet" href="../style/schedule.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Digital Department</title>
</head>
<body>
    
    <div class="wrapper">
        <%- include('views-blocks/header.ejs') %>
        <main class="schedule container-fluid watch-schedule">
            <section class="schedule-title ">
                <h2>Розклад занять кафедри на</h2>
                <select class="form-select" aria-label="Default select example" onchange="changeSelect(this.value)">
                    <option selected value="0">сьогодні</option>
                    <option value="1">завтра</option>
                    <option value="2">післязавтра</option>
                </select>
                <button class="btn" onclick="fullscreenFunc()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 0v10.999l-3.379-3.378-4.379 4.379-4.242-4.242 4.379-4.379-3.379-3.379h11zm-11.875 16.138l-4.242-4.242-4.504 4.483-3.379-3.378v10.999h11l-3.379-3.379 4.504-4.483z"/></svg>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10.999v-10.999h-11l3.379 3.379-14.379 14.378v-15.757h9v-2h-11v24h24v-11h-2v9h-15.758l14.379-14.379 3.379 3.378z"/></svg> -->
                </button>
                <button class="btn" onClick="window.location.reload();">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 12l-4.463 4.969-4.537-4.969h3c0-4.97 4.03-9 9-9 2.395 0 4.565.942 6.179 2.468l-2.004 2.231c-1.081-1.05-2.553-1.699-4.175-1.699-3.309 0-6 2.691-6 6h3zm10.463-4.969l-4.463 4.969h3c0 3.309-2.691 6-6 6-1.623 0-3.094-.65-4.175-1.699l-2.004 2.231c1.613 1.526 3.784 2.468 6.179 2.468 4.97 0 9-4.03 9-9h3l-4.537-4.969z"/></svg>
              </button>
            </section>
            <div class="schedule ms-2">
                <div class="schedule-container" id="schedule-container">
                    <div class="time " id="time">
                    <div class="clock">
                        <div class="hours">
                          <div class="first">
                            <div class="number">0</div>
                          </div>
                          <div class="second">
                            <div class="number">0</div>
                          </div>
                        </div>
                        <div class="tick">:</div>
                        <div class="minutes">
                          <div class="first">
                            <div class="number">0</div>
                          </div>
                          <div class="second">
                            <div class="number">0</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%- include('views-blocks/schedule.ejs') %>
                </div>
            </div>
        </main>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/script/script-scheduleTable.js"></script>
    <script src="/script/schedule.js"></script>

</body>
</html>