
    <div class="admin-disciplines admin-cont">
        <div class="admin-header">
            <h2>Налаштування дисциплін</h2>
            <button id="discipline_btn" class="plus_btn"><svg xmlns="http://www.w3.org/2000/svg" fill="white" width="20" height="20" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></button>
        </div>
        <hr>
        <div class="admin-body">
            <table id="disc_table" class="admin-table table-striped">
                <thead>
                    <th>#</th>
                    <th>Назва дисципліни</th>
                    <th>Аббревіатура</th>
                    <th ></th>
                    <th ></th>
                </thead>
                <tbody id="disciplineDiv">
                    <% for (let i =0; i<subjects.length; i++){%>
                        <tr >
                        <th><%= i+1%></th>
                        <td><%=subjects[i].fullname %></td>
                        <td><%=subjects[i].abbreviation %></td>
                        <td>
                            <a href="" id="edit_modal" class="table-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#4287f5" width="24" height="24" viewBox="0 0 24 24"><path d="M18.363 8.464l1.433 1.431-12.67 12.669-7.125 1.436 1.439-7.127 12.665-12.668 1.431 1.431-12.255 12.224-.726 3.584 3.584-.723 12.224-12.257zm-.056-8.464l-2.815 2.817 5.691 5.692 2.817-2.821-5.693-5.688zm-12.318 18.718l11.313-11.316-.705-.707-11.313 11.314.705.709z"/></svg>
                            </a>
                        </td>
                        <td>
                            <button id="<%=subjects[i]._id%>" onclick="deleteSubject(this.id)">
                                <svg class="table-icon trash-icon" fill="#f54242" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24"><path d="M9 19c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5-17v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712zm-3 4v16h-14v-16h-2v18h18v-18h-2z"/></svg>
                            </button>
                        </td>
                    </tr>

                    <%}%>
                </tbody>
            </table>
        </div>
    </div>

<div id="discipline_modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Додати дисципліну</h3>
            <span class="close" id="discipline-close">&times;</span>
        </div>
        <div class="modal-body">
            <div class="form__group field">
              <input name="fullname" type="text" class="form__field" id="fullname" placeholder="">
              <label for="fullname" class="form__label">Назва дисципліни</label>
            </div>
            <div class="form__group field">
              <input name="abbreviation" type="text" class="form__field" id="abbreviation" placeholder="">
              <label  for="abbreviation" class="form__label">Аббревіатура</label>
            </div>
        </div>
            <button onclick="addSubject()" class="blue_btn">Зберегти</button>
    </div>
  </div>
