
                <div class="schedule">
                    <div class="schedule-table ">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>№ ауд</th>
                                <th>1 пара</th>
                                <th>2 пара</th>
                                <th>3 пара</th>
                                <th>4 пара</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>228A
                                    </th>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__1">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__2">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__3">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                        
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__4">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>228A
                                    </th>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__1">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__2">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__3">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                        
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__4">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>228A
                                    </th>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__1">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__2">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__3">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                        
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__4">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>228A
                                    </th>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__1">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__2">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__3">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display: flex; justify-content: center;">
                                        
                                            <form class="schedule-block-admin rounded shadow-sm" id="form__4">
                                                <div class="first">
                                                <div class="form-floating m-1 first-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="281">281</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                        <option value="282">282</option>
                                                    </select>
                                                    <label>Група</label>
                                                </div>
                                                <div class="form-floating m-1 first-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="л">Л</option>
                                                        <option value="гз">ГЗ</option>
                                                        <option value="пз">ПЗ</option>
                                                        <option value="ср">СР</option>
                                                    </select>
                                                    <label>Вид заняття</label>
                                                </div>
                                            </div>
                                                <div class="second">
                                                <div class="form-floating m-1 second-1">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="ООП">ООП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                        <option value="АП">АП</option>
                                                    </select>
                                                    <label>Предмет</label>
                                                </div>
                                                <div class="form-floating m-1 second-2">
                                                    <select class="form-select type-less" aria-label="Floating label select example">
                                                        <option selected value="Редзюк">Редзюк</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                        <option value="Власенко">Власенко</option>
                                                    </select>
                                                    <label>Викладач</label>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                
        <div class="fixed-bottom footer">
            <div class="container-fluid">
                <div class="footer-container">
                    <a href="/admin" >
                        <img class="arrow-back rounded" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yMCAuNzU1bC0xNC4zNzQgMTEuMjQ1IDE0LjM3NCAxMS4yMTktLjYxOS43ODEtMTUuMzgxLTEyIDE1LjM5MS0xMiAuNjA5Ljc1NXoiLz48L3N2Zz4=">
                    </a>
                    <form>
                        <div class="form-group">
                          <input type="date" class="form-control" id="dateSave" onchange="changeData(this.value)">
                        </div>
                    </form>
                    <div class="submit-button">
                        <div class="loading spinner-border m-3" style="display: none;" id="load-spinner" role="status">
                            <!-- <span class="visually-hidden">Loading...</span> -->
                        </div>
                        <button type="button" class="btn btn-success" onclick="saveEvent()"> Зберегти зміни</button>
                    </div>
                </div>
            </div>
        </div>