
    <div class="admin-dep_settings admin-cont">
        <div class="admin-header">
            <h2>Налаштування кафедри</h2>
        </div>
        <hr>
        <div class="admin-body">
        </div>
    </div>

    