
    <div class="admin-groups admin-cont">
        <div class="admin-header">
            <h2>Налаштування груп</h2>
            <button id="groups_btn" class="plus_btn"><svg xmlns="http://www.w3.org/2000/svg" fill="white" width="20" height="20" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></button>
            <input id="fileInput" name="filedata" type="file">
            <input onclick="addCadets()" type="button" value="SENDc">
        </div>
        <hr>
        <div class="admin-body">
            <table id="groups_table" class="admin-table">
                <thead>
                    <th>#</th>
                    <th >Номер групи</th>
                    <th >Число курсантів</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <% for (let i=0; i<groups.length; i++) { %>
                        <tr>
                            <th>1</th>
                            <td><%= groups[i].nameGroup%></td>
                            <td>28</td>
                            <td>
                                <a href="" id="edit_modal" class="table-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#4287f5" width="24" height="24" viewBox="0 0 24 24"><path d="M18.363 8.464l1.433 1.431-12.67 12.669-7.125 1.436 1.439-7.127 12.665-12.668 1.431 1.431-12.255 12.224-.726 3.584 3.584-.723 12.224-12.257zm-.056-8.464l-2.815 2.817 5.691 5.692 2.817-2.821-5.693-5.688zm-12.318 18.718l11.313-11.316-.705-.707-11.313 11.314.705.709z"/></svg>
                                </a>
                            </td>
                            <td>
                                <a href="" id="<%= groups[i]._id%>">
                                    <svg class="table-icon" fill="#f54242" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24"><path d="M9 19c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5-17v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712zm-3 4v16h-14v-16h-2v18h18v-18h-2z"/></svg>
                                </a>
                            </td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>

    
    
<div id="groups_modal" class="modal">

    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="mb-3">
        <label for="nameGroup" class="form-label">Номер групи</label>
        <input name="nameGroup" type="number" class="form-control" id="nameGroup" placeholder="">
      </div>
      <div class="mb-3">
        <label  for="students" class="form-label">Число курсантів</label>
        <input name="students" type="number" class="form-control" id="students" placeholder="">
      </div>
      <button onclick="addGroup()" class="blue_btn">Зберегти</button>

    </div>
  
  </div>
