<section>
    <div class="admin-groups">
       
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
        <h2>Налаштування  groups</h2>
    </div>
</section>