<footer class="footer-cont">
    <div class="logo">
        Digital Department
    </div>
    <div class="logo">
        Created by Codezilla Band
    </div>
</footer>
<style>
    .footer-cont{
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>