<header>
    <div class="header-cont">
        <a href="#" class="logo-text">
            Digital Department
        </a>
        <a href="/login" class="login button-log" id="login">Авторизуватись
        </a>
    </div>
</header>