<header>
    <div class="header-cont">
        <a href="#" class="logo-text">
            Digital Department
        </a>
        <button href="#" class="login button-log" id="login">Увійти 
        </button>
    </div>
</header>
<style>
    .header-cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .logo-text{
        font-size: 1em;
        font-weight: 100;
        letter-spacing: .5em;
        color: white;
        text-decoration: none;
    }
    .logo-text:hover{
        color: rgb(220, 220, 220);
    }
</style>