<div class="schedule-table ">
    <table class=" p-0">
        <thead>
            <tr>
                <th></th>
                <th>1 пара</th>
                <th>2 пара</th>
                <th>3 пара</th>
                <th>4 пара</th>
                <th style="display:none">5 пара</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><div>228A</div></th>
                <td>
                    <form class="form" id="form__1">
                        <div  class="schedule-block l rounded shadow-sm">
                            <div class="first">
                                <p class="text-group">222</p>
                            </div>
                            
                            <div class="second">
                                <p class="discipline">222</p>
                                <p class="teacher">222</p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__2">
                        <div class="schedule-block l rounded shadow-sm">
                            <div class="first">
                                <p class="text-group">222</p>
                            </div>
                            <div class="second">
                                <p class="discipline">222</p>
                                <p class="teacher">222</p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__3">
                        <div class="schedule-block pz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group"></p>
                            </div>
                            <div class="second">
                                <p class="discipline"></p>
                                <p class="teacher"></p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__4">
                        <div class="schedule-block gz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group"></p>
                            </div>
                            <div class="second">
                                <p class="discipline"></p>
                                <p class="teacher"></p>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <th><div>226</div></th>
                <td>
                    <form class="form" id="form__1">
                        <div  class="schedule-block gz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group">222</p>
                            </div>
                            
                            <div class="second">
                                <p class="discipline">222</p>
                                <p class="teacher">222</p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__2">
                        <div class="schedule-block l rounded shadow-sm">
                            <div class="first">
                                <p class="text-group">222</p>
                            </div>
                            <div class="second">
                                <p class="discipline">222</p>
                                <p class="teacher">222</p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__3">
                        <div class="schedule-block pz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group"></p>
                            </div>
                            <div class="second">
                                <p class="discipline"></p>
                                <p class="teacher"></p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__4">
                        <div class="schedule-block gz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group"></p>
                            </div>
                            <div class="second">
                                <p class="discipline"></p>
                                <p class="teacher"></p>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <th><div>224</div></th>
                <td>
                    <form class="form" id="form__1">
                        <div  class="schedule-block pz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group">222</p>
                            </div>
                            
                            <div class="second">
                                <p class="discipline">222</p>
                                <p class="teacher">222</p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__2">
                        <div class="schedule-block gz gray rounded shadow-sm">
                            <div class="first">
                                <p class="text-group">222</p>
                            </div>
                            <div class="second">
                                <p class="discipline">222</p>
                                <p class="teacher">222</p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__3">
                        <div class="schedule-block l gray rounded shadow-sm">
                            <div class="first">
                                <p class="text-group"></p>
                            </div>
                            <div class="second">
                                <p class="discipline"></p>
                                <p class="teacher"></p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__4">
                        <div class="schedule-block pz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group"></p>
                            </div>
                            <div class="second">
                                <p class="discipline"></p>
                                <p class="teacher"></p>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <th><div>223</div></th>
                <td>
                    <form class="form" id="form__1">
                        <div  class="schedule-block gz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group">222</p>
                            </div>
                            
                            <div class="second">
                                <p class="discipline">222</p>
                                <p class="teacher">222</p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__2">
                        <div class="schedule-block pz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group">222</p>
                            </div>
                            <div class="second">
                                <p class="discipline">222</p>
                                <p class="teacher">222</p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__3">
                        <div class="schedule-block gz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group"></p>
                            </div>
                            <div class="second">
                                <p class="discipline"></p>
                                <p class="teacher"></p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__4">
                        <div class="schedule-block pz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group"></p>
                            </div>
                            <div class="second">
                                <p class="discipline"></p>
                                <p class="teacher"></p>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <th><div>219</div></th>
                <td>
                    <form class="form" id="form__1">
                        <div  class="schedule-block pz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group">222</p>
                            </div>
                            
                            <div class="second">
                                <p class="discipline">222</p>
                                <p class="teacher">222</p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__2">
                        <div class="schedule-block l rounded shadow-sm">
                            <div class="first">
                                <p class="text-group">222</p>
                            </div>
                            <div class="second">
                                <p class="discipline">222</p>
                                <p class="teacher">222</p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__3">
                        <div class="schedule-block gz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group"></p>
                            </div>
                            <div class="second">
                                <p class="discipline"></p>
                                <p class="teacher"></p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__4">
                        <div class="schedule-block pz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group"></p>
                            </div>
                            <div class="second">
                                <p class="discipline"></p>
                                <p class="teacher"></p>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <th><div>228A</div></th>
                <td>
                    <form class="form" id="form__1">
                        <div  class="schedule-block pz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group">222</p>
                            </div>
                            
                            <div class="second">
                                <p class="discipline">222</p>
                                <p class="teacher">222</p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__2">
                        <div class="schedule-block l rounded shadow-sm">
                            <div class="first">
                                <p class="text-group">222</p>
                            </div>
                            <div class="second">
                                <p class="discipline">222</p>
                                <p class="teacher">222</p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__3">
                        <div class="schedule-block gz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group"></p>
                            </div>
                            <div class="second">
                                <p class="discipline"></p>
                                <p class="teacher"></p>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form id="form__4">
                        <div class="schedule-block pz rounded shadow-sm">
                            <div class="first">
                                <p class="text-group"></p>
                            </div>
                            <div class="second">
                                <p class="discipline"></p>
                                <p class="teacher"></p>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    let a = document.querySelectorAll('tr>td');
    function pastLesson(...lessons){
        lessons.forEach(element => {
            element.classList.add('gray');
        });
    }
    function controlLessons(){
        let time = new Date(),
            hours = time.getHours(),
            minutes = time.getMinutes();

        $.get("/admin/scheduleAdmin/allAudiences", function (auds) {
            $.each(auds, function (k, v) {
                for (let j = 1; j <= 4; j++){

                    let form = $('#form_' + v + '_' + j);
                    form.children(".schedule-block").addClass("free");
                    if(hours>=16 ){
                        if(j===1){
                            form.children('.schedule-block').addClass('gray');
                        }
                    }else if(hours>=14 ){
                        if(j===2){
                            form.children('.schedule-block').addClass('gray');
                        }
                    }else if(hours>=12 ){
                        if(j===3){
                            form.children('.schedule-block').addClass('gray');
                        }
                    }else if(hours>=10 ){
                        if(j===4){
                            form.children('.schedule-block').addClass('gray');
                        }
                    }

                }
            });
        });
    }
    setInterval(controlLessons(), 300000);


</script>